extends ../layout

block append styles
  link(rel="stylesheet", href="./styles.css")

block content
  h1= title
  .mdc-card
    section.mdc-card__primary
      h1.mdc-card__title.mdc-card__title--large Title goes here
      h2.mdc-card__subtitle Subtitle here
    section.mdc-card__supporting-text
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      | veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      | commodo consequat.
    section.mdc-card__actions
      button.mdc-button.mdc-button--compact.mdc-card__action Action 1
      button.mdc-button.mdc-button--compact.mdc-card__action Action 2