doctype html
html(lang="en")
  head
    include head
  block styles
    link(rel="stylesheet", href="./main.css")

  body
    header Header

    main
      block content

    footer Footer
    include scripts